{
  "extends": ["airbnb-base", "prettier"],
  "env": {
    "es6": true,
    "node": true,
  },
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
  },
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module"
  }
}